.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  color: white;
  border-radius: 10px;
  gap: 10px;
  font-family: "Inter";
  font-size: 14px;
  cursor: pointer;
}

.button.hidden {
  display: none;
}

@media (max-width: 66em) {
  .button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 32em) {
  .button {
    padding: 6px 32px;
  }
}
