.absolute {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 1000;
  width: 40%;
  transform: translateX(-50%);
  height: 300px;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
}
.inputBox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #9ca4ab;
  border-radius: 12px;
  margin-bottom: 50px;
}
.inputBox input {
  width: 100%;
  border: none;
  font-size: 14px;
}
.inputBox input:focus {
  outline: none;
  margin-left: 20px;
}
.copy {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #0d0c0f;
  padding: 8px;
  transition: 0.3s;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #9ca4ab; */
  border-radius: 12px;
  gap: 20px;
}

.hero {
  padding: 64px 75px;
  padding-top: 0;
  font-family: "Rubik";
  position: relative;
  overflow: hidden;
}

.height {
  height: 687px;
}

.image {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -50;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.overlay {
  background-image: linear-gradient(
    358.93deg,
    #0d0c0f 0.83%,
    rgba(13, 12, 15, 0.85) 28.55%,
    rgba(13, 12, 15, 0.26) 57.53%,
    rgba(13, 12, 15, 0.284314) 70.66%,
    #0d0c0f 103.18%
  );
  height: 800px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -40;
}

.season {
  margin-top: 194px;
  padding: 8px 16px;
  width: fit-content;
  background: #0d0c0f;
  color: #f9f9f9;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 24px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.subtitle {
  font-size: 14px;
  color: #9ca4ab;
  margin-bottom: 8px;
}

.text {
  max-width: 506px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #ffffff;
  margin-bottom: 24px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.more {
  color: #00925d;
  display: none;
}

@media (max-width: 80em) {
  .hero {
    padding-left: 48px;
    padding-right: 48px;
  }

  .season {
    margin-top: 120px;
  }
}

@media (max-width: 66em) {
  .hero {
    padding-bottom: 35px;
  }

  .season {
    margin-bottom: 12px;
    margin-top: 80px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 2px;
  }

  .subtitle {
    margin-bottom: 2px;
    font-size: 12px;
  }

  .buttonsContainer {
    gap: 12px;
  }

  .text {
    max-width: 464px;
    font-size: 12px;
    margin-bottom: 12px;
  }
}

@media (max-width: 32em) {
  .hero {
    padding: 24px 16px;
  }

  .season {
    margin-top: 280px;
  }

  .title {
    font-size: 32px;
  }

  .buttonsContainer {
    justify-content: center;
  }

  .more {
    display: inline;
  }

  .hidden {
    display: none;
  }

  .genres {
    bottom: 50px;
  }
}
