.card {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  outline: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px;
  gap: 10px;
}
.card:hover {
  background-color: rgb(84, 81, 81);
}
.image {
  width: 84px;
  height: 100px;
}
.image img {
  width: 100%;
  object-fit: cover;
}
.title {
  font-weight: bold;
  font-size: 20px;
}
.date {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 6px;
}
.text {
  font-size: 12px;
}
