.footer {
  padding: 70px 75px 40px;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}
.firstBox {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.title_box {
  width: 444px;
}
.title {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
.secondBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.textContainer {
  display: flex;
  align-items: center;
  gap: 26px;
}
.text {
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  opacity: 0.7;
  cursor: pointer;
}
.copyText {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  opacity: 0.7;
}
.rightBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icons {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}
