.footer {
  padding: 70px 75px 40px;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}
.firstBox {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.title_box {
  width: 444px;
}
.title {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 40px;
}
.secondBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.textContainer {
  display: flex;
  align-items: center;
  gap: 26px;
}
.text {
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  opacity: 0.7;
  cursor: pointer;
}
.copyText {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  opacity: 0.7;
}
.rightBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icons {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}

@media (max-width: 80em) {
  .footer {
    padding-left: 48px;
    padding-right: 48px;
  }
  .title {
    font-size: 24px;
  }
}

@media (max-width: 66em) {
  .icons {
    gap: 20px;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  .title_box {
    width: 320px;
  }
  .footer {
    padding-top: 35px;
  }
}
@media (max-width: 32em) {
  .footer {
    padding: 24px 16px;
  }
  .title_box {
    width: 100%;
  }
  .title {
    font-size: 20px;
  }
  .firstBox {
    flex-direction: column;
  }
  .icons {
    justify-content: flex-start;
    margin-top: 20px;
  }
  .secondBox {
    flex-direction: column;
  }
}
