@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: white;
  background-color: #08080a;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
  transition: all ease-out 0.03ms;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.icon {
  cursor: pointer;
}

.slick-dots {
  position: absolute;
  top: 438px;
  right: 75px;
  text-align: right;
  background-color: transparent;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.slick-dots li button:before {
  color: white;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slick-next {
  right: 28px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.slick-next:before {
  font-size: 32px;
  color: #28262d;
  content: "";
}

@media (max-width: 66em) {
  .slick-dots li {
    margin: 0;
  }
}
@media (max-width: 32em) {
  .slick-dots {
    bottom: 0;
    text-align: center;
    right: 0;
  }
}
